<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jeubeub">

    <queries>
        <package android:name="com.google.android.apps.walletnfcrel" />
    </queries>

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Jeubeub">
        <activity
            android:name=".app.leaderboard.MorpionLeaderboardActivity"
            android:exported="true" />
        <activity
            android:name=".app.activity.gameActivity.GameActivity"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".app.activity.MenuActivity"
            android:exported="true" />
        <activity
            android:name=".app.activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.activity.gameActivity.QueueActivity"
            android:exported="true" />
        <activity
            android:name=".app.activity.gameActivity.MorpionActivity"
            android:exported="true" />
    </application>

</manifest>